.container {
  margin: 10 22px;
}

.card {
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.card-text {
  font-size: 14px;
  margin: 10px;
}

.btn-danger {
  margin: 2px;
  border-radius: 5%;
}

.btn-danger {
  background-color: red;
}
