// Specific CSS for your home-page
.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 100vh;
}

.message {
position: absolute;
left: 7.14%;
right: 60.12%;
top: 16.27%;
bottom: 74.13%;
font-family: 'Gotham';
font-style: normal;
font-weight: 500;
font-size: 75px;
line-height: 72px;
color: #EA5455;
padding: 10px;
}

.welcome {
position: absolute;
left: 62.96%;
right: 4.7%;
top: 19.27%;
bottom: 77.72%;
font-family: 'Gotham';
font-style: normal;
font-weight: 500;
font-size: 75px;
line-height: 72px;
/* identical to box height */
text-align: center;
color: #002B5B;
}

h1 {
  margin: auto;
}

button {
 margin: auto;
 background-color: #000000;
 color: #FFFFFF;
 float: right;
 padding: 2px;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
}
