<% @vinyls.each do |vinyl| %>
  <%=link_to  vinyl_path(vinyl) do cl_image_tag vinyl.image, class: "card__image" end%>
  <p><%= vinyl.name %></p>
<% end %>
<button><%= link_to 'create vinyl', new_vinyl_path %></button>
