<div class="main-home">
  <div class="message">
    <h1>Revive the Soundtrack of your life...</h1>
  </div>
    <button>View Vinyls</button>
  <div class="line-items">
    <div class="first-line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="last-line"></div>
  </div>

  <div class="welcome">
    <h3>Welcome<%= user_signed_in? ? " #{current_user.nickname}" : "" %> to your Vinyl Destination💿</h3>
  </div>
</div>
