<div class="main-home">
  <div class="message">
    <h1>Revive the <br> Soundtrack <br> of your <br> life...</h1>
  </div>
    <button>View Vinyls</button>
  <div class="line-items">
    <svg class="svg1" xmlns="http://www.w3.org/2000/svg" width="630" height="1616" viewBox="0 0 630 1616" fill="none">
      <path d="M609.423 0L629.691 0L629.691 798.518C629.691 812.008 622.771 823.358 619.31 826.803L513.023 945.385L0 1615.53L0 1275.56C108.1 1197.78 576.103 831.155 593.109 815.924C610.115 800.694 609.423 781.656 609.423 768.601L609.423 0Z" fill="#002B5B"/>
    </svg>
    <svg class="svg2" xmlns="http://www.w3.org/2000/svg" width="677" height="2140" viewBox="0 0 677 2140" fill="none">
      <path d="M655.825 0L676.093 0L676.093 798.518C676.093 812.008 677.082 823.54 674.116 829.523L75.0351 2139.9H0.917633L0.917633 1836.92C85.4529 1713.99 630.118 859.984 641.983 840.946C657.038 816.788 654.836 813.749 655.825 800.694L655.825 0Z" fill="#EA5455"/>
    </svg>
    <svg class="svg3" xmlns="http://www.w3.org/2000/svg" width="320" height="2151" viewBox="0 0 320 2151" fill="none">
      <path d="M298.786 0L319.054 0L319.054 798.518V823.54L317.571 848.561L311.639 933.418L222.999 2150.23H0.151978C17.2897 2076.26 295.127 846.93 296.314 842.578C297.5 838.226 298.786 827.529 298.786 823.54L298.786 0Z" fill="#E4DCCF"/>
    </svg>
    <svg class="svg4" xmlns="http://www.w3.org/2000/svg" width="320" height="2153" viewBox="0 0 320 2153" fill="none">
      <path d="M21.0505 0L0.762909 0L0.762909 799.546V824.6L2.24738 849.653L8.18518 934.619L96.9081 2153H319.962C302.808 2078.93 24.7121 848.02 23.5246 843.662C22.337 839.305 21.0505 828.594 21.0505 824.6L21.0505 0Z" fill="#E4DCCF"/>
    </svg>
    <svg class="svg5" xmlns="http://www.w3.org/2000/svg" width="676" height="2140" viewBox="0 0 676 2140" fill="none">
      <path d="M20.8747 0L0.606018 0L0.606018 798.518C0.606018 812.008 -0.38269 823.54 2.58344 829.523L601.664 2139.9H675.782V1836.92C591.247 1713.99 46.5813 859.984 34.7167 840.946C19.6612 816.788 21.8634 813.749 20.8747 800.694L20.8747 0Z" fill="#EA5455"/>
    </svg>
    <svg class="svg6" xmlns="http://www.w3.org/2000/svg" width="630" height="1616" viewBox="0 0 630 1616" fill="none">
      <path d="M20.2767 0L0.00799561 0L0.00799561 798.518C0.00799561 812.008 6.92896 823.358 10.3895 826.803L116.677 945.385L629.699 1615.53L629.699 1275.56C521.6 1197.78 53.5964 831.155 36.5905 815.924C19.5846 800.694 20.2767 781.656 20.2767 768.601L20.2767 0Z" fill="#002B5B"/>
    </svg>
  </div>

  <div class="welcome">
    <h3>Welcome<%= user_signed_in? ? " #{current_user.nickname}" : "" %> to your Vinyl Destination💿</h3>
  </div>
</div>
